In [1]:
# pandas is used to represent 1D as well as 2D data.
# Transformation and Visualization

In [2]:
import pandas as pd

# pandas has two data structres-
 - 1. Series - 1D
 - 2. DataFrame - 2D

# Series

### how to create a series - 
- list 
- array
- dic

#### Using list -

In [3]:
list_of_states = ['telangana', 'UP', 'MP', 'Punjab', 'karnataka','maharastra','wb','goa']
df_states = pd.Series(list_of_states)
df_states

0     telangana
1            UP
2            MP
3        Punjab
4     karnataka
5    maharastra
6            wb
7           goa
dtype: object

In [5]:
print(type(df_states))

<class 'pandas.core.series.Series'>

In [6]:
# we can change index - 
pd.Series(list_of_states, index=['a','b','c','d','e','f','g','h'])

a     telangana
b            UP
c            MP
d        Punjab
e     karnataka
f    maharastra
g            wb
h           goa
dtype: object

In [7]:
# Note - if you are giving the custom index name make sure that the list == number of element in series

# Using array

In [15]:
import numpy as np

In [67]:
numpy_data = np.array([1,2,3,4,5,6])

In [68]:
df = pd.Series(numpy_data)
df

0    1
1    2
2    3
3    4
4    5
5    6
6    1
dtype: int64

# DICTIONARY

In [32]:
states_capitals = {'telangana':'hyderabad', 'UP':'lucknow', 'MP':'bhopal', 'Punjab':'chandigarh', 
                   'karnataka':'bangalore','maharastra':'mumbai','wb':'kolkata','goa':'panaji'}

In [23]:
states_capitals

{'telangana': 'hyderabad',
 'UP': 'lucknow',
 'MP': 'bhopal',
 'Punjab': 'chandigarh',
 'karnataka': 'bangalore',
 'maharastra': 'mumbai',
 'wb': 'kolkata',
 'goa': 'panaji'}

In [24]:
pd.Series(states_capitals)

telangana      hyderabad
UP               lucknow
MP                bhopal
Punjab        chandigarh
karnataka      bangalore
maharastra        mumbai
wb               kolkata
goa               panaji
dtype: object

In [25]:
# we cannot change the index in dictionary

In [26]:
pd.Series(states_capitals, index= [1,2,3,4])

1    NaN
2    NaN
3    NaN
4    NaN
dtype: object

In [27]:
pd.Series(states_capitals, index= [1,2,3,4,'telangana', 'UP', 'MP'])

1                  NaN
2                  NaN
3                  NaN
4                  NaN
telangana    hyderabad
UP             lucknow
MP              bhopal
dtype: object

In [29]:
states_capitals

{'telangana': 'hyderabad',
 'UP': 'lucknow',
 'MP': 'bhopal',
 'Punjab': 'chandigarh',
 'karnataka': 'bangalore',
 'maharastra': 'mumbai',
 'wb': 'kolkata',
 'goa': 'panaji'}

In [30]:
pd.Series(states_capitals, index= ['telangana', 'maharastra', 'MP'])

telangana     hyderabad
maharastra       mumbai
MP               bhopal
dtype: object

# Indexing

#### Indexing can be done in two ways - 
-1 by the custom index name
- 2 by using zero indexing

In [33]:
states_capitals = {'telangana':'hyderabad', 'UP':'lucknow', 'MP':'bhopal', 'Punjab':'chandigarh', 
                   'karnataka':'bangalore','maharastra':'mumbai','wb':'kolkata','goa':'panaji'}

df = pd.Series(states_capitals)

In [34]:
# Zero indexing
df[3]

'chandigarh'

In [35]:
df[-1]

'panaji'

In [36]:
df[0]

'hyderabad'

In [37]:
# custom indexing
df['karnataka']

'bangalore'

In [38]:
states_capitals = {1:'hyderabad', 2:'lucknow', 3:'bhopal', 4:'chandigarh', 
                   5:'bangalore',6:'mumbai',7:'kolkata',8:'panaji'}
df = pd.Series(states_capitals)
df

1     hyderabad
2       lucknow
3        bhopal
4    chandigarh
5     bangalore
6        mumbai
7       kolkata
8        panaji
dtype: object

In [39]:
df[3]

'bhopal'

In [ ]:
# if the index is in integer format then only custom indexing is allowed

In [42]:
# note
# df[-1] --> Error

# Slicing

#### Slicing can be done in two ways - 
-1 by the custom indexing
- 2 by using zero indexing

In [47]:
list_of_states = ['telangana', 'UP', 'MP', 'Punjab', 'karnataka','maharastra','wb','goa']
df_states = pd.Series(list_of_states)
df_states

0     telangana
1            UP
2            MP
3        Punjab
4     karnataka
5    maharastra
6            wb
7           goa
dtype: object

In [48]:
# zero indexing
df[::-1]

8        panaji
7       kolkata
6        mumbai
5     bangalore
4    chandigarh
3        bhopal
2       lucknow
1     hyderabad
dtype: object

In [49]:
df[1:3:-1]

Series([], dtype: object)

In [46]:
# custom

In [56]:
states_capitals = {'telangana':'hyderabad', 'UP':'lucknow', 'MP':'bhopal', 'Punjab':'chandigarh', 
                   'karnataka':'bangalore','maharastra':'mumbai','wb':'kolkata','goa':'panaji'}

df = pd.Series(states_capitals)

In [57]:
df['telangana':'wb':1]

telangana      hyderabad
UP               lucknow
MP                bhopal
Punjab        chandigarh
karnataka      bangalore
maharastra        mumbai
wb               kolkata
dtype: object

In [52]:
# Note - start - inclusive
#             end - inclusive

In [54]:
states_capitals = {1:'hyderabad', 2:'lucknow', 3:'bhopal', 4:'chandigarh', 
                   5:'bangalore',6:'mumbai',7:'kolkata',8:'panaji'}
df = pd.Series(states_capitals)
df

1     hyderabad
2       lucknow
3        bhopal
4    chandigarh
5     bangalore
6        mumbai
7       kolkata
8        panaji
dtype: object

In [58]:
df[0:3:1]

telangana    hyderabad
UP             lucknow
MP              bhopal
dtype: object

In [59]:
df[3:5]

Punjab       chandigarh
karnataka     bangalore
dtype: object

In [ ]:
# indexing - if index is integer value you can only do custom indexing

# slicing - if index is an integer then only zero indexing is applicable